<a href="https://colab.research.google.com/github/JonasGiven/Hiring-salary-machine-learning-/blob/main/Hiring_salary_machine_learning_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Hiring salary**
Determining salary for new recruits using machine learning.

## **1. Data preprocessing**

In [ ]:
import pandas as pd
df_hiring = pd.read_csv('/content/hiring 2024-05-24 05_26_29.csv')
df_hiring

In [ ]:
#replacing NaN values with 0; no experience
df_hiring.experience.fillna(0, inplace=True)
df_hiring

In [ ]:
#for the 	test_score(out of 10), determine median value
median_value = df_hiring['test_score(out of 10)'].median()

In [ ]:
#for the 	test_score(out of 10), replace NaN with median value.
df_hiring['test_score(out of 10)'].fillna(median_value, inplace=True)
df_hiring

In [ ]:
#for experience column convert words to numeric
 # Mapping dictionary
experience_mapping = {'zero': 0, 'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10, 'eleven': 11}

# Replace experience column values
df_hiring['experience'] = df_hiring['experience'].replace(experience_mapping).astype(int)
df_hiring

## **2. Model training**

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [ ]:
#create our linear regression model
reg = linear_model.LinearRegression()
reg

In [ ]:
#train our model using fit method
reg.fit(df_hiring[['experience', 'test_score(out of 10)',
                   'interview_score(out of 10)']],
                    df_hiring['salary($)'])

In [ ]:
#our coefficients
reg.coef_

In [ ]:
#our intercept
reg.intercept_

## **2.1 Predictions**

How much should an employee with,<br/>
**14** years of experience, got **9**	test_score(out of 10) and **7**	interview_score(out of 10) earn?

In [ ]:
reg.predict([[14,9,7]])

The employee will be paid around $89 167, which makes sense since he has the most work experience and he did great on both the test and interview.